<mat-sidenav-container fullscreen >

  <mat-sidenav  #sidenav mode="push"  [ngStyle]="{'width': '250px'}">
      <mat-toolbar>
          <span>Menu</span>
          <span class="spacer"></span>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
      </mat-toolbar>

      <mat-nav-list>
        <mat-list-item
        *ngFor="let item of sidebarItems"
        [routerLink]="item.url"
        (click)="sidenav.toggle()"
        >

          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          {{ item.label }}
        </mat-list-item>
      </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar >
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>
    <!-- <div>
      <img src="assets/equipos/logo.png" alt="" srcset="" width="100" height="50">
    </div> -->
    <span>
       LNS RD
    </span>
    <span class="spacer"></span>

    <button mat-button>

    </button>
  </mat-toolbar>


<div class="container p-5 ">
  <router-outlet></router-outlet>
</div>


  <div class="footer mt-5" #footer>
    <div>
      <span>&copy; NLS RD 2023</span>
    </div>
  </div>


</mat-sidenav-container>


