<div class="container text-center">
  <h1> Calendario LNS</h1>



  <mat-tab-group class="justify-content-center ">

    <mat-tab label="Semana 1">
      <div class="grid justify-content-center text-center align-items-center m-5 ">
        <div class="scroll-hint col-8 p-sm:col-8 md:col-4 xl:col-2">Desliza hacia abajo  </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 1 </mat-card-title>
                <mat-card-subtitle>9:00 AM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/Titanes.jpg" class="img">
                    <span> Titanes </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/Hangover.jpg" class="img">
                    <span>Hangover</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card2 p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 2 </mat-card-title>
                <mat-card-subtitle>11:00 AM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/RAAS GROUP ST.jpg " class="img">
                    <span> RAAS </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/EXTRA OLD.jpg" class="img">
                    <span>Extra old</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 3 </mat-card-title>
                <mat-card-subtitle>2:00 PM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/Exoticos ST.jpg " class="img">
                    <span> Exoticos </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/Bad Boys.jpg" class="img">
                    <span>Bad Boys</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card2 p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 4 </mat-card-title>
                <mat-card-subtitle>4:00 PM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/Team Rulay.jpg " class="img">
                    <span>TeamRulay </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/Clasicos ST.jpg" class="img">
                    <span>Clasicos</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
     </mat-tab>

     <mat-tab label="Semana 2">
      <div class="grid justify-content-center text-center align-items-center m-5 ">
        <div class="scroll-hint col-8 p-sm:col-8 md:col-4 xl:col-2">Desliza hacia abajo </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 2 </mat-card-title>
                <mat-card-subtitle>9:00 AM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/RAAS GROUP ST.jpg" class="img">
                    <span> RAAS </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/Bad Boys.jpg" class="img">
                    <span>Bad Boys</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card2 p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 2 </mat-card-title>
                <mat-card-subtitle>11:00 AM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/Clasicos ST.jpg " class="img">
                    <span> Clasicos </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/Titanes.jpg" class="img">
                    <span>Titanes</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 3 </mat-card-title>
                <mat-card-subtitle>2:00 PM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/Exoticos ST.jpg " class="img">
                    <span> Exoticos </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/EXTRA OLD.jpg" class="img">
                    <span>Extra old</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card2 p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 4 </mat-card-title>
                <mat-card-subtitle>4:00 PM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/Team Rulay.jpg " class="img">
                    <span>TeamRulay </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/Hangover.jpg" class="img">
                    <span>Hangover</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
     </mat-tab>

     <mat-tab label="Semana 3">
      <div class="grid justify-content-center text-center align-items-center m-5 ">
        <div class="scroll-hint col-8 p-sm:col-8 md:col-4 xl:col-2">Desliza hacia abajo </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 1 </mat-card-title>
                <mat-card-subtitle>9:00 AM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/Hangover.jpg" class="img">
                    <span> Exoticos </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/Clasicos ST.jpg" class="img">
                    <span>Clasicos</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card2 p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 2 </mat-card-title>
                <mat-card-subtitle>11:00 AM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/Team Rulay.jpg " class="img">
                    <span>TeamRulay</span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/Bad Boys.jpg" class="img">
                    <span>Bad Boys</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 3 </mat-card-title>
                <mat-card-subtitle>2:00 PM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/Titanes.jpg " class="img">
                    <span> Titanes </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/EXTRA OLD.jpg" class="img">
                    <span>Extra old</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card2 p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 4 </mat-card-title>
                <mat-card-subtitle>4:00 PM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/RAAS GROUP ST.jpg " class="img">
                    <span>RAAS </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/Hangover.jpg" class="img">
                    <span>Hangover</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
     </mat-tab>

     <mat-tab label="Semana 4">
      <div class="grid justify-content-center text-center align-items-center m-5 ">
        <div class="scroll-hint col-8 p-sm:col-8 md:col-4 xl:col-2">Desliza hacia abajo </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 1 </mat-card-title>
                <mat-card-subtitle>9:00 AM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/RAAS GROUP ST.jpg" class="img">
                    <span> Extra old </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/Team Rulay.jpg" class="img">
                    <span>TeamRulay</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card2 p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 2 </mat-card-title>
                <mat-card-subtitle>11:00 AM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/Hangover.jpg " class="img">
                    <span> Hangover </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/Exoticos ST.jpg" class="img">
                    <span>Exoticos</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 3 </mat-card-title>
                <mat-card-subtitle>2:00 PM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/Bad Boys.jpg " class="img">
                    <span> Bad Boys </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/Titanes.jpg" class="img">
                    <span>Titanes</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card2 p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 4 </mat-card-title>
                <mat-card-subtitle>4:00 PM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/Clasicos ST.jpg " class="img">
                    <span>Clasicos </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/RAAS GROUP ST.jpg" class="img">
                    <span></span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
     </mat-tab>

     <mat-tab label="Semana 5">
      <div class="grid justify-content-center text-center align-items-center m-5 ">
        <div class="scroll-hint col-8 p-sm:col-8 md:col-4 xl:col-2">Desliza hacia abajo </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 1 </mat-card-title>
                <mat-card-subtitle>9:00 AM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/Clasicos ST.jpg" class="img">
                    <span> Clasicos </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/Hangover.jpg" class="img">
                    <span>Hangover</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card2 p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 2 </mat-card-title>
                <mat-card-subtitle>11:00 AM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/RAAS GROUP ST.jpg " class="img">
                    <span> RAAS </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/EXTRA OLD.jpg" class="img">
                    <span>Extra old</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 3 </mat-card-title>
                <mat-card-subtitle>2:00 PM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/Bad Boys.jpg " class="img">
                    <span> Bad Boys </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/Titanes.jpg" class="img">
                    <span>Titanes</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card2 p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 4 </mat-card-title>
                <mat-card-subtitle>4:00 PM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/Exoticos ST.jpg " class="img">
                    <span>Exoticos </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/Titanes.jpg" class="img">
                    <span>Titanes</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
     </mat-tab>

     <mat-tab label="Semana 6">
      <div class="grid justify-content-center text-center align-items-center m-5 ">
        <div class="scroll-hint col-8 p-sm:col-8 md:col-4 xl:col-2">Desliza hacia abajo </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 1 </mat-card-title>
                <mat-card-subtitle>9:00 AM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/Exoticos ST.jpg" class="img">
                    <span> Exoticos </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/Team Rulay.jpg" class="img">
                    <span>TeamRulay</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card2 p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 2 </mat-card-title>
                <mat-card-subtitle>11:00 AM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/Hangover.jpg " class="img">
                    <span> Hangover </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/Bad Boys.jpg" class="img">
                    <span>Bad Boys</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 3 </mat-card-title>
                <mat-card-subtitle>2:00 PM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/EXTRA OLD.jpg " class="img">
                    <span> Extra old </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card p-2">
                    <img matCardImage src="assets/equipos/Clasicos ST.jpg" class="img">
                    <span>Clasicos</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card2 p-5">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title> Juego 4 </mat-card-title>
                <mat-card-subtitle>4:00 PM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="p-2">
                <a href="/inicio/equipo/7d56195b-f973-4757-a450-52a56fd46844"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/Titanes.jpg " class="img">
                    <span>Titanes </span>
                  </div>
                </a>
              </mat-card-content>

              <mat-card-content class="p-2">
                <a href="/inicio/equipos"> <!-- Reemplaza "/ruta-de-destino" con la URL a la que deseas redirigir -->
                  <div class="justify-content-center align-items-center flex card2 p-2">
                    <img matCardImage src="assets/equipos/RAAS GROUP ST.jpg" class="img">
                    <span>RAAS</span>
                  </div>
                </a>
              </mat-card-content>
            </div>
            <mat-card-content>
              <span>Estadio</span>
              <mat-card-subtitle>Olimpico 2</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
     </mat-tab>

     <mat-tab label="Semifinales">

     </mat-tab>

     <mat-tab label="Finales">



     </mat-tab>

  </mat-tab-group>

</div>
