
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@500&display=swap');
.container,mat-card { font-family: 'Mitr', sans-serif; }
/* Contenedor de la tabla */
.table-container {
  overflow-x: auto; /* Permitir desplazamiento horizontal en dispositivos estrechos */
}

/* Asegura que la tabla ocupe todo el ancho del contenedor */
table {
  width: 100%;
  white-space: nowrap; /* Evita que los elementos se envuelvan */
}

/* Establece el ancho mínimo de las columnas según tus necesidades */
th, td {
  min-width: 100px; /* Ajusta el valor según tus necesidades */
  padding: 8px;
}

/* Establece colores intercalados para las filas de la tabla */
tr:nth-child(even) {
  background-color: #303030; /* Color para las filas pares */
}

tr:nth-child(odd) {
  background-color: #212124; /* Color para las filas impares */
}

a {
  text-decoration: none;
  color: #69f0ae;
}

/* Cambia el color de fondo y texto de las celdas de encabezado */
.custom-header {
  z-index: 1000;
  background-color: #ef2c00; /* Cambia este valor al color que desees */
  color: #69f0ae; /* Cambia el color del texto si es necesario */
}



@keyframes scrollBlink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.scroll-text {
  animation: scrollBlink 1s linear infinite;
}


