<div class="container text-center">
  <h1> Calendario LNS</h1>

  <mat-tab-group>
    <mat-tab label="Semana 1" >
      <div class="grid justify-content-center text-center align-items-center m-5 ">

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card  ">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title>Juego 1</mat-card-title>
                <mat-card-subtitle>9:00 AM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="pb-2">
                <div class="justify-content-center align-items-center flex card">
                  <img matCardImage src="/assets/equipos/Titanes.jpg" class="img">
                <span>TITANES</span>
                </div>
              </mat-card-content>
              <mat-card-content>
                <div class="justify-content-center align-items-center flex card">
                  <img matCardImage src="/assets/equipos/Hangover.jpg" class="img">
                <span>HANGOVER</span>
                </div>
              </mat-card-content>
            </div>
            <mat-card-actions align="start">
              <button mat-button>Acaaaaaation1</button>
            </mat-card-actions>
            <mat-card-footer>
              Footer
            </mat-card-footer>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card2">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title>Juego 1</mat-card-title>
                <mat-card-subtitle>9:00 AM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="pb-2">
                <div class="justify-content-center align-items-center flex card2">
                  <img matCardImage src="/assets/equipos/Titanes.jpg" class="img">
                <span>TITANES</span>
                </div>
              </mat-card-content>
              <mat-card-content>
                <div class="justify-content-center align-items-center flex card2">
                  <img matCardImage src="/assets/equipos/Hangover.jpg" class="img">
                <span>HANGOVER</span>
                </div>
              </mat-card-content>
            </div>
            <mat-card-actions align="start">
              <button mat-button>Acaaaaaation1</button>
            </mat-card-actions>
            <mat-card-footer>
              Footer
            </mat-card-footer>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card  ">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title>Juego 1</mat-card-title>
                <mat-card-subtitle>9:00 AM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="pb-2">
                <div class="justify-content-center align-items-center flex card">
                  <img matCardImage src="/assets/equipos/Titanes.jpg" class="img">
                <span>TITANES</span>
                </div>
              </mat-card-content>
              <mat-card-content>
                <div class="justify-content-center align-items-center flex card">
                  <img matCardImage src="/assets/equipos/Hangover.jpg" class="img">
                <span>HANGOVER</span>
                </div>
              </mat-card-content>
            </div>
            <mat-card-actions align="start">
              <button mat-button>Acaaaaaation1</button>
            </mat-card-actions>
            <mat-card-footer>
              Footer
            </mat-card-footer>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card2">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title>Juego 1</mat-card-title>
                <mat-card-subtitle>9:00 AM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="pb-2">
                <div class="justify-content-center align-items-center flex card2">
                  <img matCardImage src="/assets/equipos/Titanes.jpg" class="img">
                <span>TITANES</span>
                </div>
              </mat-card-content>
              <mat-card-content>
                <div class="justify-content-center align-items-center flex card2">
                  <img matCardImage src="/assets/equipos/Hangover.jpg" class="img">
                <span>HANGOVER</span>
                </div>
              </mat-card-content>
            </div>
            <mat-card-actions align="start">
              <button mat-button>Acaaaaaation1</button>
            </mat-card-actions>
            <mat-card-footer>
              Footer
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
     </mat-tab>
     <mat-tab label="Semana 2" >
      <div class="grid justify-content-center text-center align-items-center mt-5">

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card  ">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title>Juego 1</mat-card-title>
                <mat-card-subtitle>9:00 AM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="pb-2">
                <div class="justify-content-center align-items-center flex card">
                  <img matCardImage src="/assets/equipos/Titanes.jpg" class="img">
                <span>TITANES</span>
                </div>
              </mat-card-content>
              <mat-card-content>
                <div class="justify-content-center align-items-center flex card">
                  <img matCardImage src="/assets/equipos/Hangover.jpg" class="img">
                <span>HANGOVER</span>
                </div>
              </mat-card-content>
            </div>
            <mat-card-actions align="start">
              <button mat-button>Acaaaaaation1</button>
            </mat-card-actions>
            <mat-card-footer>
              Footer
            </mat-card-footer>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card2">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title>Juego 1</mat-card-title>
                <mat-card-subtitle>9:00 AM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="pb-2">
                <div class="justify-content-center align-items-center flex card2">
                  <img matCardImage src="/assets/equipos/Titanes.jpg" class="img">
                <span>TITANES</span>
                </div>
              </mat-card-content>
              <mat-card-content>
                <div class="justify-content-center align-items-center flex card2">
                  <img matCardImage src="/assets/equipos/Hangover.jpg" class="img">
                <span>HANGOVER</span>
                </div>
              </mat-card-content>
            </div>
            <mat-card-actions align="start">
              <button mat-button>Acaaaaaation1</button>
            </mat-card-actions>
            <mat-card-footer>
              Footer
            </mat-card-footer>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card  ">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title>Juego 1</mat-card-title>
                <mat-card-subtitle>9:00 AM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="pb-2">
                <div class="justify-content-center align-items-center flex card">
                  <img matCardImage src="/assets/equipos/Titanes.jpg" class="img">
                <span>TITANES</span>
                </div>
              </mat-card-content>
              <mat-card-content>
                <div class="justify-content-center align-items-center flex card">
                  <img matCardImage src="/assets/equipos/Hangover.jpg" class="img">
                <span>HANGOVER</span>
                </div>
              </mat-card-content>
            </div>
            <mat-card-actions align="start">
              <button mat-button>Acaaaaaation1</button>
            </mat-card-actions>
            <mat-card-footer>
              Footer
            </mat-card-footer>
          </mat-card>
        </div>

        <div class="col-8 p-sm:col-8 md:col-4 xl:col-2 flex align-items-center justify-content-center">
          <mat-card class="alternate-card2">
            <div>
              <mat-card-header class="justify-content-center">
                <mat-card-title>Juego 1</mat-card-title>
                <mat-card-subtitle>9:00 AM</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="pb-2">
                <div class="justify-content-center align-items-center flex card2">
                  <img matCardImage src="/assets/equipos/Titanes.jpg" class="img">
                <span>TITANES</span>
                </div>
              </mat-card-content>
              <mat-card-content>
                <div class="justify-content-center align-items-center flex card2">
                  <img matCardImage src="/assets/equipos/Hangover.jpg" class="img">
                <span>HANGOVER</span>
                </div>
              </mat-card-content>
            </div>
            <mat-card-actions align="start">
              <button mat-button>Acaaaaaation1</button>
            </mat-card-actions>
            <mat-card-footer>
              Footer
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
     </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>

</div>
